#game-over{
    text-align: center;
    height: 180px;
    width:50%;
    background-color:rgb(30, 30, 68);
    color: white;
    margin-left: 320px;
    display: none;
}
#game-over h2{
    font-size: 30px;
    font-weight: bold;
    padding-top: 30px ;
}
#game-over p{
    padding-top: 17px;
    font-weight: bold;
    font-size: 22px;
}
#active-game{
    text-align: center;
}
#para {
    height: 40px;
    text-align: center;
    margin-left: 30px;
    font-size: 18px;
    color: rgb(25, 25, 48);
    padding-top: 25px;
    margin-top:10px ;
    display: none;
}
#game-board{
    background-color: rgba(241, 243, 245, 0.897);
    width: 18%;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3,90px);
    grid-template-rows: repeat(3,80px);
    text-align: center;
    margin-left: 490px;
    height: 210px;
    gap: 6px;
    padding-top: 17px;
    padding-right: -9px;
}
#game-board li{
    background-color: rgb(115, 175, 133);
    text-align: center;
    padding-top: 21px;
    font-family:cursive ;
    font-weight: bold;
    font-size: 30px;
    cursor: pointer;
}

#game-board li:hover {
  background-color: rgb(7, 112, 42);  
}
#game-board li.disabled {
    background-color: rgb(71, 116, 116);
    color: white;
}
#game-board li.disabled:hover{
    background-color: rgb(38, 36, 182);
}
#hide {
    display: none;
}